<p>{{title}}</p>
<ng-content></ng-content>   
<!-- * This allows for content to be taken from the relative tag * -->

<!-- Property binding -->
<input [value]="forPropertyBinding"/>    <!-- This uses the variable in home.component.ts -->
<input [required]="booleanProperty"/>

<br>

<input type="text" value="{{booleanProperty}}"/>     <!-- You can also use string interpolation -->

<!-- Event Binding -->
<button (click)="alertMe('passed data')">Click me</button>

<br><br>

<!-- Two way Data Binding -->
<label>Name:</label>
<input [(ngModel)]="person.name"/>
<label>Age:</label>
<input [(ngModel)]="person.age"/>
<p>{{person.name}}</p>
<p>{{person.age}}</p>

<!-- Using @Input -->
<p>{{coolPerson.name}}</p>

<!-- custom event binding Using @Output -->
<button (click)="fireYellEvent($event)">YELL</button>